body{
margin:0;
background:#021427;
font-family:Arial;
color:white;
}

.header{
background:linear-gradient(90deg,#0057ff,#3daeff);
padding:25px;
font-size:30px;
font-weight:bold;
text-align:center;
}

.banner{
background:red;
padding:18px;
font-size:22px;
font-weight:bold;
}

.nav-top{
display:flex;
overflow-x:auto;
gap:10px;
padding:15px;
background:#02213d;
}

.nav-top button{
background:#3051a3;
border:none;
padding:12px 18px;
color:white;
border-radius:10px;
font-weight:bold;
}

#contenido{
padding:20px;
}

.card{
background:#3051a3;
padding:20px;
margin-bottom:15px;
border-radius:20px;
font-size:20px;
font-weight:bold;
cursor:pointer;
}

.team{
display:flex;
align-items:center;
gap:10px;
margin:10px 0;
}

.team img{
width:35px;
height:35px;
}

.score{
font-size:45px;
color:#00ff88;
font-weight:bold;
}
