*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#0d1117,#161b22);
    color:white;
    min-height:100vh;
    padding:20px;
}

/* CONTENEDOR GENERAL */
.container{
    max-width:900px;
    margin:auto;
}

/* TITULO */
h1{
    text-align:center;
    font-size:38px;
    margin-bottom:30px;
    color:#00ff88;
    text-shadow:0 0 10px rgba(0,255,136,.5);
}

/* MENSAJE SIN PARTIDOS */
.empty{
    background:#161b22;
    border:1px solid #30363d;
    padding:30px;
    border-radius:20px;
    text-align:center;
    font-size:24px;
    box-shadow:0 8px 20px rgba(0,0,0,.35);
}

/* CONTENEDOR PARTIDOS */
#contenido{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* TARJETAS */
.card{
    background:#161b22;
    border:1px solid #30363d;
    border-radius:18px;
    padding:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.35);
    transition:.3s;
}

.card:hover{
    transform:translateY(-3px);
    border-color:#00ff88;
}

/* EQUIPOS */
.card h2{
    font-size:22px;
    margin-bottom:10px;
}

/* SCORE */
.score{
    font-size:36px;
    font-weight:bold;
    color:#00ff88;
    margin:15px 0;
    text-align:center;
}

/* TEXTO */
.card p{
    opacity:.8;
    margin-top:5px;
}
